:root {
    --bgDes:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --bgSize: 400% 400%;
    --bgAnim: gradient 15s ease infinite;
    --desTwo: linear-gradient(45deg, #d1faff, #f3d1fd, #ffc3d9, #c6c8f7);
    --textShadow:1px 1px 10px rgb(124, 116, 116); 
    --fFamily:'Bubbler One', sans-serif;
}

/*General document styling*/
/*ADD FONT FAMILY*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:var(--fFamily);
}

html,
body {
    width: 100%;
    height: 100%;
}
/*General form styling*/
form {
    max-width:100%;
    border:none;
    align-self: center;
}
/*General html form input styling*/
form input{
    
    font-size: 100%;
    padding: 5px;
    color: white;
    background-size: cover;
    animation: var(--bgAnim);
    border: none;
}
/*Text box styling*/
#initials {
    background-color: white;
    font-family:var(--fFamily);
    font-size:30px;
    font-weight: 700;
    color: rgb(243, 200, 237);
    border: none;
    border-radius: 10px;
    padding: 20px;
}

/*Initials submit button styling*/
#turnIn {
    font-family:var(--fFamily);
    text-shadow: var(--textShadow);
    background: var(--desTwo);
    background-size: cover;
    animation: var(--bgAnim);
    border: none;
    border-radius: 25px;
    padding: 20px;
    font-size:30px;
    font-weight: 500;
    box-shadow: inset 0 0 15px rgb(255, 240, 240);
}


/*Background styling, keyframes references gradient like it is a variable*/
body {
    background:var(--bgDes);
    background-size:var(--bgSize);
    animation:var(--bgAnim);
}
/*allover text*/
h1,
p,
ul {
color: transparent;
background: var(--bgDes);
background-size: cover;
background-clip: text;
-webkit-background-clip: text;
animation: var(--bgAnim);
}
/*Animation details below*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/*Absolutely position and center so
they flow with scrolling. Flexboxes can
be placed within if necessary, if not stick to relative positioning
for simplicity.*/
#startQuiz,
.quizContainer,
.resultPage {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: inset 0 0 10px rgb(160, 155, 155);
box-shadow: inset 0 0 15px rgb(255, 240, 240);
}
/*Button to summon quiz*/
#startQuiz {
font-family: var(--fFamily);
font-size:70px;
font-weight: bolder;
color: rgb(255, 255, 255);
padding: 40px;
background:linear-gradient(45deg, #d1faff, #f3d1fd, #ffc3d9, #c6c8f7);
background-size:cover;
animation:var(--bgAnim);
background-size:var(--bgSize);
animation:var(--bgAnim);
cursor:pointer;    
border-radius: 50px;
border: none;

}
/*Button text styling*/

#startQuiz p {
outline:none;
text-shadow: 1px 1px 10px rgb(124, 116, 116);
cursor: pointer;
}

/*Container for all quiz content, absolute pos, establishes width of flex items */ 
.quizContainer {
width: 50%;
border-radius: 25px;
background:var(--desTwo);
background-size:cover;
animation: var(--bgAnim);
text-shadow:var(--textShadow);
border: #e73c7e 10px;

}
/*Styles header, relatively positioned, children shall be flex items*/
.quizContainer header {
position: relative;
z-index: 2;
height: 100px;
padding: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

}
/*Styles h1 within header*/
.quizContainer h1 {
font-size: 30px;
font-weight: 700;
padding: 10px;
margin-bottom: 10px;
}
/*Stores the timer text and number, flex container that puts
the timer text and the appropriate number next to each other*/
.countdown {
height: 50px;
padding: 10px;
border-radius: 10px;
display: flex;
justify-content: space-between;
text-align: center;
align-items: center;
align-content: center;
margin-bottom: 10px;
}
/* Styling for the text that comes before the numerical timer*/
.cText {
font-size: 20px;
font-weight: 600;
color: rgb(255, 255, 255);
}
/*numerical timer styling*/
#timerDisplay {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(253, 253, 253); 
}

/*END HEADER STYLING*/

/* BEGIN QUIZ CONTENT STYLING */

/*container for the inserted questions and multchoice answers*/
#box {
    background: var(--desTwo);
    background-size: cover;
    animation: var(--bgAnim);
    color: white;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row-;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Styling for injected questions*/
.insertQ p {
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
    margin-left: 0; 
}

    .multChoice {
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-around; 
        padding: 15px;
        border: 2px red dotted;
        border: #e73c7e 10px;
    }
 /*/insert
  /*/
  .multChoice p {
    background: var(--desTwo);
    background-size: cover;
    animation: var(--bgAnim);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: #e73c7e 10px;
}
/*Added radio buttons for answer*/
input[type="radio"] {
    display: none;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
/*styling attempted*/
input[type="radio"]:checked + label {
display: block;
cursor: pointer;
height: 50px;
width: 150px;
text-align: center;
line-height: 20px;
}


#answerChoices {
    
}
/*RESULTS PAGE HERE
SHOULD TRANSITION FROM QUIZ AND BOX DIMENSIONS SHOULD 
MATCH WHAT CAME BEFORE */

/*Matches above criteria, displays/formats below.*/
.resultPage {
    background: var(--desTwo);
    background-size: cover;
    animation: var(--bgAnim);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Increase padding for better spacing */
    width: 50%;
    align-items: stretch;
}

/*JS injected quiz result*/
.fResult {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

/*Button/html form for this page container*/
.hideStart {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
}

/**/
.restart {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: linear-gradient(45deg, #d1faff, #f3d1fd, #ffc3d9, #c6c8f7);
    background-size: cover;
    animation: var(--bgAnim);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow: inset 0 0 15px rgb(255, 240, 240);
    margin-bottom: 10px;

}

.prevHigh {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 20px;
    background: linear-gradient(45deg, #d1faff, #f3d1fd, #ffc3d9, #c6c8f7);
    background-size: cover;
    animation: var(--bgAnim);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow: inset 0 0 15px rgb(255, 240, 240);
    margin-bottom: 10px;
     
}

.prevScores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Increase padding for better spacing */
    width: 50%;
    align-items: stretch;
}

/*ADD PREV SCORES*/
#scoreboard {
width: 50%;
align-self: center;
border-radius: 25px;
background:var(--desTwo);
background-size:cover;
animation: var(--bgAnim);
text-shadow:var(--textShadow);
border: #e73c7e 10px;

}


